* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

html {
  font-family: "Times New Roman", Times, serif;
}

body {
  background: rgb(217, 239, 252);
  text-align: center;
}

header {
  padding: 1rem 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
  color: #fff;
  background-image: url("/images/bgs.png");
}

header a {
  padding: 1rem;
  font-size: 1.25rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

header a:hover,
header a:active {
  background-color: #edcd44;
  color: #dc3e26;
}

#background {
  height: 50rem;
  background-image: url("/images/bgs.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

audio {
  position: absolute;
  top: 37rem;
  left: 41.5%;
}

#section-content {
  width: 75%;
  padding: 3rem;
  position: relative;
  display: flex;
}

#section-content p {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 3rem;
  word-spacing: 3px;
  line-height: 2.5rem;
}

.content {
  padding-top: 2rem;
}

h1,
h3 {
  color: rgb(31, 159, 250);
}

h2 {
  color: #edcd44;
  font-size: 2.5rem;
  text-transform: capitalize;
  text-decoration: underline;
}

p {
  padding: 1.5rem;
  font-size: 1.25rem;
  font-style: inherit;
}

#presentation {
  position: relative;
}

#linkedin {
  width: 20%;
  border: none;
  position: absolute;
  top: 15rem;
  left: 3rem;
  z-index: 1;
}

#linkedin:hover {
  cursor: pointer;
  opacity: 50%;
}

#profile {
  width: 65%;
  border-radius: 50%;
  box-shadow: 0 1px 8px #1da6bb;
  overflow: hidden;
}

#hobbies {
  background-color: rgba(148, 91, 175, 0.5);
}

#hobbies-head {
  width: 75%;
  padding: 2rem 0;
}

#hobbies-head h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  word-spacing: 3px;
  margin: 1.5rem;
}

ul {
  padding: 1rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

ul img {
  width: 18rem;
  height: 16rem;
  border: 1px solid;
  border-radius: 8px;
  box-shadow: 0 1px 8px rgba(186, 184, 184, 0.25);
}

footer {
  color: #fff;
  background-image: url("/images/bgs.png");
}

footer div {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

footer li {
  height: 2.5rem;
  padding-left: 2rem;
}

footer img {
  height: 100%;
  width: 100%;
}

.heading {
  padding-top: 10rem;
}

.card {
  margin-bottom: 2rem;
  padding: 1rem;
  width: 60%;
  border: 2px solid #81cad6;
  border-radius: 12px;
  box-shadow: 0 1px 8px #81cad6;
}
